
.widget-slideshow {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  color: white;
}

.slide-link {
  margin-top: 10px;
}

.carousel-control {
  margin-top: -13px;
  width: 35px;

  &.right,
  &.left {
    background-image: none;
  }

  &.right {
    margin-right: 12px;
    margin-left: 5px;
  }

  &.left {
    margin-right: 5px;
    margin-left: 12px;
  }
}

.carousel-inner {
  .c-block-top {
    background-color: @secundary-bg;
    color: @secundary-color;
    padding-top: 20px;
    padding-bottom: 20px;

    h2 {
      padding-left: 26px;
      padding-right: 26px;
      margin-top: 10px;
      text-align: center;
      overflow: hidden;
      max-height: 34px;
      font-size: 25px;

      a {
        color: @secundary-color;
      }
    }
  }

  .c-block-sidebar,
  .c-block-main {
    min-height: 370px;
    background-color: @primary-bg;
    color: @primary-color;
  }

  .c-block-sidebar {
    display: table;

    .slide-description {
      font-size: 20px;
      margin-top: 50px;
      vertical-align: middle;
      padding: 0px 18px;

      .slide-link {
        white-space: normal;
      }
    }
  }

  .c-block-main {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .carousel-inner .c-block-main,
  .carousel-inner .c-block-sidebar {
    min-height: 550px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .carousel-inner .c-block-main,
  .carousel-inner .c-block-sidebar {
    min-height: 590px;
  }
}
