/* fix font path: */
@icon-font-path: "/public/theme/we-theme-compact/fonts/";

.h1, h1 {
  font-size: 26px;
}

.actions {
  margin-bottom: 5px;
}

.wrapper {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.user-layout {
  padding-bottom: 25px;
}

.default-layout {
  padding-bottom: 25px;

  #content {
    padding-right: 15px;
  }
}

.header-topbar {
  // height: 100vh;
}

.header-topbar-menu {
  // position: absolute;
  // width: 100%;

  .col-sidebar {

  }

  .col-main {
    padding-left: 0px;
  }

  .navbar {
    margin-bottom: 0px;
    border: 0px;
  }

  .navbar-collapse {
    padding-right: 0px;
    padding-left: 5px;
  }

  .navbar-nav>li>a {
    margin: 0px 4px 0px 0px;
    background-color: #fff;
    color: #000;
  }

  .navbar-nav>li.active>a {
    background-color: @secundary-bg;
    color: @secundary-color;
  }
}

.breadcrumb {
  background-color: @secundary-bg;
  color: @secundary-color;
  border-radius: 0px;
  margin-bottom: 5px;

  a {
    color: #fff;
  }
}

.site-name,
.logo-area {
  text-align: center;
}

@title-text-color: #bfbfbf;

.site-name {
  color: #fff;
  text-shadow: -1px 0 @title-text-color, 0 1px @title-text-color, 1px 0 @title-text-color, 0 -1px @title-text-color;
}

.site-name-area {
  text-align: center;
  display: inline-block;
}

.header-middle {
  margin-top: 11vh;
  margin-bottom: 25vh;
  text-align: center;
}
.site-name-area {
  border-bottom: 2px solid #fff;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}

.site-logo {
  width: 140px;
  min-height: 130px;
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.site-logo img {
  max-width: 100%;
}

.logo-arrow-down {
  margin: 0px auto;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 37px solid #fff
}

.main-area {
  border-top: 1px solid @border-color;
}

.main-area,
.footer,
footer {
  background-color: #fff;
}

.footer-social-links {
  margin-top: 20px;

  li {
    a {
      background-color: #000;
      padding: 5px 14px;
      border-radius: 4px;
      font-size: 24px;
      font-weight: bold;
      color: #fff;
    }
  }
}

.news-block-main {
  padding: 25px;
}

.home-news-item {
  // border-bottom: 1px solid @border-color;

  a {
    color: #888;
  }
}

.news-block-side {
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
}

.even-row {
  .news-block-side {
    margin-right: -15px;
    border-right: 1px solid @border-color;
    background-color: @secundary-bg;
    color: @secundary-color;
  }
  .news-block-main {
    padding-left: 10px;
  }
}

.odd-row {
  .news-block-side {
    margin-left: -15px;
    border-left: 1px solid @border-color;
    background-color: @secundary-bg;
    color: @secundary-color;
  }
  .news-block-main {
    padding-right: 10px;
  }
}

.btn-contact {
  border-radius: 0px;
  font-size: 25px;
  font-weight: bold;
}

.footer-item {
  min-height: 75px;
}

.footer-left {
  margin-right: -15px;
  background-color: @secundary-bg;
  color: @secundary-color;
  text-align: center;
  padding-top: 25px;
}

.footer-middle {
  margin-left: -15px;

  a {
    padding: 20px 30px;
  }
}

.sidebar {
  padding: 10px 20px;
  margin-right: -15px;
  font-size: 15px;
}

.record-list,
.record-item {
  padding: 15px;

  h1 {
    margin-top: 0px;
  }

  .featuredImage {
    margin-bottom: 8px;
  }
}