{{{breadcrumb}}}
<div class="record-list">
<div class="row posts-no-group">
  <div class="col-lg-12">
    <h1>Editar post #{{data.id}}</h1>
  </div>
  <div class="col-md-8 col-lg-9">
    {{{form-model model data validationError}}}
  </div>
</div>
</div>