<ol class="breadcrumb">
  <li><a href="/">Início</a></li>
  <li><a href="/group">Grupos</a></li>
  <li class="active">Criar</li>
</ol>

<div class="record-item">
{{{form-model model data validationError}}}
</div>