<div class="record-item">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {{#if data.title}}<h2 class="d-form-title">{{data.title}}</h2>{{/if}}

      {{{d-form data null validationErrors}}}
    </div>
  </div>
</div>