{{{template 'partials/admin-bar'}}}

<div class="header-topbar">
  <div class="row">
    <div class="col-md-12 {{#if req.we.systemSettings.logoUrlOriginal}}with-logo-img{{/if}}">
      <div class="logo-area">
        <a class="site-logo" href="/">
          {{#if req.we.systemSettings.logoUrlOriginal}}
            <img src="{{req.we.systemSettings.logoUrlOriginal}}"
                 alt="Logo" >
          {{/if}}
        </a>
        <div class="logo-arrow-down"></div>
      </div>

    </div>
    <div class="col-md-12">
      <div class="header-middle">
        <div class="site-name-area">
          <span class="site-name">
            Your <strong>Luxury Escape</strong>
          </span>
        </div>
      </div>
    </div>
    {{!--     <div class="col-md-12">
          {{#if req.we.config.isHotel}}
            <a href="/reservas" class="btn btn-theme btn-topbar hvr-shutter-out-vertical btn-default">
              <i class="glyphicon glyphicon-briefcase"aria-hidden="true"></i>
              <span class="hidden-xs">Reservas</span>
            </a>
          {{/if}}
          {{#if req.we.config.isONG}}
            <a href="/doar" class="btn btn-theme btn-topbar hvr-shutter-out-vertical btn-default">
              <i class="glyphicon glyphicon-gift"aria-hidden="true"></i>
              <span class="hidden-xs">Doações</span>
            </a>
          {{/if}}
        </div> --}}
{{!--     <div class="col-xs-4 col-sm-4 col-md-4 header-social-block">
      {{we-menu menuSocial class="list-inline icon-style-1"}}
    </div> --}}
  </div>

  <div class="header-subbar seccond-row"></div>
  <div class="clearfix"></div>

  <div class="header-topbar-menu">
    <div class="row">
      <div class="col-md-3 col-sidebar">

      </div>

      <div class="col-md-9 col-main">
        <nav id="mainNav" class="navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
              <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar1">
            {{we-menu menuMain class="nav navbar-nav"}}
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

