<div class="row">
  <div class="col-md-12 {{#if req.we.systemSettings.logoUrlOriginal}}with-logo-img{{/if}}">
    <div class="logo-area">
      <a class="site-logo" href="/">
        {{#if req.we.systemSettings.logoUrlOriginal}}
          <img src="{{req.we.systemSettings.logoUrlOriginal}}"
               alt="Logo" >
        {{/if}}
      </a>
      <div class="logo-arrow-down"></div>
    </div>

  </div>
  <div class="col-md-12">
    <div class="header-middle">
      <div class="site-name-area">
        <span class="site-name">{{#if req.we.systemSettings.subTitle}}{{{req.we.systemSettings.subTitle}}}{{else}}
          {{req.we.systemSettings.siteName}}
        {{/if}}</span>
      </div>
    </div>
  </div>
</div>
