<div class="record-list">
<form class="form-inline" method="post">
  <div class="form-group">
    <label>E-mail:</label>
    <input type="email" name="email" value="{{req.body.email}}" class="form-control">
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Buscar</button>
  </div>
</form>
</div>